body {

    background-image: url(../img/fondUp.jpeg);
    font-family: "Audiowide", sans-serif;
    margin: 0;
}

.text-player1 {
    color: white;
    display: grid;
    margin: 0;
    padding: 10px 40px 10px 40px;
    position: absolute;
    top: 50%;
    left: 39%;
}

.text-player2 {
    color: white;
    display: grid;
    text-decoration: line-through 3px;
    margin: 0;
    padding: 10px 40px 10px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.start-button {
    background-image: url('../img/fondArcade.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.center-button {
    font-family: "Audiowide";
    font-size: 15px;
    text-align: center;
    display: grid;
    background-color: #a1cbdc;
    margin: 0;
    padding: 10px 40px 10px 40px;
    position: absolute;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover {
    background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
}

.text {

    color: #3d76df;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;

}

#score {

    background-color: #8188b8;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    width: 200px;
    padding-left: 4px;
    margin-top: 30px;
    margin-left: 40px;

}

canvas {

    margin: 0;
}


.hidden {
    display: none;
}